.AskForPlayerCode {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.AskForPlayerCode.columns {

}

.AskForPlayerCode.input {
	max-width: 100px !important;
}