.Player {
    margin: 3rem;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 5px;
}

h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 2vh;
}

.albumTitle {
    margin: 3vh;
}

.coverArt {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.coverArtBox {
    display: grid;
    height: 38%;
    width: 38%;
}