html {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
    width: 100%;
    height: 100%;
}

@font-face{
    font-family: "Comic Sans MS";
    src: url('https://cdn.nierot.com/-/ComicSansMS3.ttf')  format('truetype');
}