.CreateNewPlaylist {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 90vh;
    color: black;
}

.CreateNewPlaylist h2 {
    text-align: center;
}

.CreateNewPlaylist label {
    color: black !important;
}

.CreateNewPlaylist .control {
    margin-bottom: 10px;
    margin-top: 5px;
}